.card {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  background-color: #6ad8d8;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
